* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h3 {
  font-weight: 510;
}
h5 {
  font-weight: 400;
}

body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
}

*,
::after,
::before {
  box-sizing: border-box;
}

a {
  color: inherit;
}

hr.sales_hr {
  border: 1px solid #24262c;
}

.full-width {
  width: 100%;
}

.d-block {
  display: block;
}
.d-none {
  display: none;
}
.mt-100 {
  margin-top: 100px;
}
.mt-150 {
  margin-top: 150px;
}
.mt-120 {
  margin-top: 120px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-12 {
  margin-top: 12px;
}

.mt-5 {
  margin-top: 5px;
}
.mt-3 {
  margin-top: 3px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-30 {
  margin-top: 30px;
}
.mt-50 {
  margin-top: 50px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-50 {
  margin-bottom: 50px;
}
.mb-100 {
  margin-bottom: 350px;
}
.mb-70 {
  margin-bottom: 100px;
}
.mt-70 {
  margin-top: 70px;
}
.mt-60 {
  margin-top: 60px;
}
.mx-10 {
  margin-left: 10px;
  margin-right: 10px;
}
.mx-20 {
  margin-left: 20px;
  margin-right: 20px;
}
.my-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.my-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.mr {
  margin-right: 6px;
}
.mr-5 {
  margin-right: 5px;
}

.mr-10 {
  margin-right: 20px;
  color: #5772ec;
}

.ml-10 {
  margin-left: 10px;
}

.ml-5 {
  margin-left: 5px;
}

.ml-15 {
  margin-left: 18px;
}

.ml-20 {
  margin-left: 30px;
}
.ml-40 {
  margin-left: 40px;
}
.ml-50 {
  margin-left: 50px;
}
.mr-20 {
  margin-right: 30px;
}
.pt-50 {
  padding-top: 50px;
}
.pb-50 {
  padding-bottom: 50px;
}
.pl-15 {
  padding-left: 25px;
}
.p-15-c {
  padding: 5px 10px 5px 15px;
}

.flex-justify-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-justify-evenly-center {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.flex-justify-around-center {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flex-align-center {
  display: flex;
  align-items: center;
}
.flex-row-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex-justify-between {
  display: flex;
  justify-content: space-between;
}

.d-flex {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.d-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-center {
  display: flex;
  justify-content: center;
}
.center {
  text-align: center;
}
.white {
  color: rgb(245, 245, 245);
}
.main_container {
  display: flex;
  flex-direction: column;
  flex: 1;
  flex-basis: auto;
  box-sizing: border-box;
  width: 100%;
}
.hero {
  background-color: #0f121e;
  background-image: linear-gradient(160deg, #0f121e 39%, #222848);
  padding-top: 90px;
  display: block;
  align-items: center;
  margin: 0 auto;
  width: 100%;
}
.why_merch {
  padding-top: 30px;
  padding-bottom: 100px;
  background: #171717;
  display: block;
  align-items: center;
  margin: 0 auto;
  width: 100%;
}
.wrap {
  width: 940px;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  background-color: transparent;
}
.merch_img_div {
  background-color: #2d2b3d;
  padding-bottom: 30px;
  background-image: linear-gradient(160deg, #2d2b3d 39%, #3c3a63 65%);
}
.merch_img_div_wrap {
  width: 960px;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  background-color: transparent;
}
.merch_img_cont {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  width: 100%;
  margin-bottom: 20px;
  -webkit-overflow-scrolling: touch;
}

.merch_img_cont::-webkit-scrollbar {
  display: none;
}

#merch_img_cont1 {
  margin-left: 20px;
}

/* button */
button {
  text-align: center;
  cursor: default;
  padding: 1px 6px;
  word-spacing: normal;
  width: 100%;
  max-width: 160px;
  height: 48px;
}
.btn_flex_btn {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  width: 100%;
  max-width: 160px;
  height: 48px;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.2em;
  text-decoration: none;
  color: rgb(255, 255, 255);
  text-shadow: rgb(0 0 0 / 30%) 0px 2px 3px;
  border: 0px;
  border-radius: 0px;
  z-index: auto;
  transition: text-shadow 0.4s ease-in-out 0s;
}

/* .btn_flex_btn::before {
  background-color: rgb(145, 72, 206);
  transform: translate(10px, -12px);
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  content: '';
  z-index: 1;
} */
.btn_flex_btn:hover {
  cursor: pointer;
  text-shadow: rgb(145 72 206) -1px 0px, rgb(76 232 190) 1px 0px,
    rgb(0 0 0 / 30%) 0px 2px 3px;
}

/* .btn_flex_btn::before,
.btn_flex_btn::after {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  content: '';
  z-index: -1;
} */

/* .btn_flex_btn::after {
  transform: translate(10px);
  background-color: rgb(76, 232, 190);
} */
