/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .wrap {
    padding: 0 10px;
  }
  .merch_card_div {
    width: 100% !important;
    margin: 0px !important;
  }
  .logo {
    height: 19px;
  }
  .el-carousel__container {
    height: 300px !important;
  }
  .el-tabs__content {
    padding: 20px 10px !important;
  }

  /* .tab {
    width: 100%;
  }
  .tabcontent {
    width: 100%;
  }
  .tab {
    width: 100%;
  }

  .tabcontent {
    width: 100%;
  }

  .el-carousel__item--card {
    width: 80% !important;
  } */
}

/* ----------- iPhone 12 pro max ----------- */
@media only screen and (device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3) {
}

/* ----------- iPhone 11 pro max  ----------- */
@media only screen and (min-device-width: 414px) and (max-device-width: 896px) and (-webkit-device-pixel-ratio: 3) {
}

/* ----------- iPhone X ----------- */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  .logo {
    height: 19px;
  }
  .el-carousel__container {
    height: 300px;
  }
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) {
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
}

/* ----------- Galaxy S6 s5 ----------- */
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-min-device-pixel-ratio: 3) {
}

/* ----------- pixel 2 xl ----------- */
@media screen and (device-width: 411px) {
}
